body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	/*height: 1.5em;*/
}

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #951C49;
	text-align: center;
}

#nav-list a:hover{
	background: #E7E7E7;
}

section{
		/*border: 1px solid black;*/
		background-color : grey;
		margin-bottom: 10px;
		margin-right:10%;
		margin-left:10%;
		margin-top: 10px;
		font-family: Helvetica;
		color:white;
	}

section>p{
		margin-right:10px;
		margin-left:10px;
		margin-bottom: 10px;
	}

h1 {
	margin-bottom: 40px;
}

/*#header-nav {
	margin-left: -15px;
	margin-right: -15px;
}*/

/*hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid black;
	width: 99%;  does not touch the border (in my opinion from picture of excercise) 
}*/